__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv
env
.env
local_data/
localdata/
scratch/
scripts/logs
.git
.gitignore
.vscode
*.txt
!requirements/prod.txt
!requirements.txt
Dockerfile
docker-compose.yml
.dockerignore
